
$white: #fff;
$blackheader: #1E1E1E;
$card: #141313;

$gray: rgba(43, 43, 43, 0.95);
$blue: #2A99FF;
$bluewhite: #2C8DFF;

// page
$page: #2B2B2B;

// media
$fullscreen-helpers: 1370px;
$laptopbig-bp: 1191px;
$laptop-bp: 1140px;
$tablet-bp: 991px;
$tablet-medium-bp: 768px;
$mobile-large-bp: 577px;
$mobile-medium-bp: 460px;
$mobile-mediumLite-bp: 420px;
$mobile-small-bp: 360px;
