<div class="intro " id="intro">
    <div class="container">
        <div class="header__text">
            <p>{% component 'contenteditor' file="intro/suptitle.htm"  %}</p>
            <div class="header__text-2">{% component 'contenteditor' file="intro/title.htm" fixture="h1" class="h1" %}
            <a class="btn "data-scroll="#about" href="#">Learn more</a>
            </div>

        </div>

    <div class="slider">
        <div class="slider__item active"><span>01</span> INTRO</div>
        <div class="slider__item"><span>02</span> WORK</div>
        <div class="slider__item"><span>03</span> ABOUT</div>
        <div class="slider__item"><span>04</span> CONTACTS</div>
    </div>
    </div>  
</div>   
