<!-- title -->
<section class="section">
    <div class="container">
        <div class="section__header">
            <h3 class="section__suptitle"      >What we do</h3>
            <h2 class="section__title" >some of our work</h2>
            <div class="section__text">
               
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
            </div>



        </div>

     </div>
    </section>
    <!-- Our works -->
     <div class="works">
        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/image/Layer 26.png'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__icon">
                        <i class="fab fa-envira"></i></div>
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/image/Layer 35.png'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__icon">
                        <i class="fab fa-envira"></i></div>
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
        </div>

        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/image/Layer 31.png'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__icon">
                        <i class="fab fa-envira"></i></div>
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/image/Layer 29.png'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__icon">
                        <i class="fab fa-envira"></i></div>
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
        </div>

        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/image/Layer 34.png'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__icon">
                        <i class="fab fa-envira"></i></div>
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
        </div>

        <div class="works__col">
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/image/Layer 32.png'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__icon">
                        <i class="fab fa-envira"></i></div>
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
            <div class="works__item">
                <img class="works__image" src="{{ 'assets/image/Layer 33.png'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__icon">
                        <i class="fab fa-envira"></i></div>
                    <div class="works__title">creatively designed</div>
                    <div class="works__text">Lorem ipsum dolor sit</div>
                </div>
            </div>
        </div>  
    </div>   
    <!-- works -->