<div class="">
    <div class="container">


        <div class="rewiews">

            <div data-slider>
                <div>
                       <div class="rewiews__item ">

                           <img class="rewiews__photo rewiews__photo--photo2 " src="{{ 'assets/image/2000.jpg'|theme }}" alt="">
                           <div class="rewiews__text">“Lorem ipsum dolor sit amet, 
                               consectetur adipiscing elit, 
                               sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                               Ut enim ad minim veniam,
                               quis nostrud exercitation.”</div>
                               <div class="rewiews__after">Kaneka</div>
                   </div>
                   </div>
                   <div>

               <div class="rewiews__item ">

                   <img class="rewiews__photo rewiews__photo--photo2" src="{{ 'assets/image/s1200 (1).webp'|theme }}" alt="">
                   <div class="rewiews__text">“Lorem ipsum dolor sit amet, 
                       consectetur adipiscing elit, 
                       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                       Ut enim ad minim veniam,
                       quis nostrud exercitation.”</div>
                       <div class="rewiews__after">Emi  </div>
                   
           </div>
           
           
       </div>
     </div>
 </div>

</div>



<section class="section section--people">
    <div class="container">
        <div class="section__header">
            <h3 class="section__suptitle">Happy Clients</h3>
            <h2 class="section__title" >What people say</h2>



     </div>
    </div>

                        <div class="people">
                           
                     <div class="people__col">

                            <img class="people__photo" src="{{ 'assets/image/people4 .jpg'|theme }}" style="max-width: 120px;" alt=""></img>
                            <div class="people__suptitle">Matthew Dix</div>
                            <div class="people__title">Graphic Design</div>
                            <div class="people__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>   
                        </div> 

                        <div class="people__col  people__col--two">

                            <img class="people__photo" src="{{ 'assets/image/people2.jpg'|theme }}"style="max-width: 120px;" alt=""></img>
                            <div class="people__suptitle">Jaelynn Castillo </div>
                            <div class="people__title">Graphic Design</div>
                            <div class="people__text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>   
                        </div> 

                        <div class="people__col">

                            <img class="people__photo" src="{{ 'assets/image/people4.png'|theme }}" style="max-width: 120px;"alt=""></img>
                            <div class="people__suptitle">Nick Karvounis</div>
                            <div class="people__title">Graphic Design</div>
                            <div class="people__text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>   
                        </div> 

                        <div class="people__col  people__col--two">

                            <img class="people__photo" src="{{ 'assets/image/people1.jpg'|theme }}"style="max-width: 120px;" alt=""></img>
                            <div class="people__suptitle">Mike Petrucci</div>
                            <div class="people__title">Graphic Design</div>
                            <div class="people__text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>   
                        </div> 

             </div> 



        </div>

</section>   
<!-- People -->
