[blogPosts blogPostsServices]
pageNumber = "{{ :page }}"
categoryFilter = "servis"
postsPerPage = 6
noPostsMessage = "Статей нет"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "Services_post"
==

<section class="section-2" id="SERVISE">
    <div class="container">
        <div class="section__Amazing">
            <h3 class="section__siptaitle">We work with</h3>
            <h2 class="section__title">Amazing Services</h2>
            <div class="services">
                <div class="services__item ">
                    <img class="services__icon" src="{{ 'assets/image/ALARM.png'|theme }}" alt="">
                    <div class="services__title">Photography</div>
                    <div class="services__text">{% component 'contenteditor' file="services/services.htm" fixture="" class="" %}</div>
                </div>
                <div class="services__item ">
                    <img class="services__icon" src="{{ 'assets/image/LINE-GRAPH.png'|theme }}" alt="">
                    <div class="services__title">Web Design</div>
                    <div class="services__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ipsam</div>
                </div>
                <div class="services__item services__item--hr">
                    <img class="services__icon" src="{{ 'assets/image/COMPUTER-.png'|theme }}" alt="">
                    <div class="services__title">Creativity</div>
                    <div class="services__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ipsam</div>
                </div>
                
                
                
                    <div class="services__item">
                        <img class="services__icon" src="{{ 'assets/image/BOOK-2.png'|theme }}" alt="">
                        <div class="services__title">seo</div>
                        <div class="services__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ipsam</div>
                    </div>
                    <div class="services__item">
                        <img class="services__icon" src="{{ 'assets/image/HOME.png'|theme }}" alt="">
                        <div class="services__title">Css/Html</div>
                        <div class="services__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ipsam</div>
                    </div>
                    <div class="services__item">
                        <img class="services__icon" src="{{ 'assets/image/EQUALIZER.png'|theme }}" alt="">
                        <div class="services__title">digital</div>
                        <div class="services__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ipsam</div>
                    </div>  
                

</div>
            </div>


         </div>
        
      

</section>