<div class="statistics">
    <div class="container">
        <div class="stat">
                <div class="statistics_item"><div class="statistics__number">
                    <div class="statistics__text">43</div>
                </div>Web Design Projects</div>
                <div class="statistics_item"><div class="statistics__number">
                    <div class="statistics__text">123</div>
                </div>happy client</div>
                <div class="statistics_item"><div class="statistics__number">
                    <div class="statistics__text">36</div>
                </div>award winner</div>
                <div class="statistics_item"><div class="statistics__number">
                    <div class="statistics__text">55</div>
                </div>cup of coffee</div>
                <div class="statistics_item"><div class="statistics__number">
                    <div class="statistics__text">41</div>
                </div>members</div>
        </div>


    </div>
</div>
