==
<!-- contacts -->
<footer class="footer"  id="Contact" >
    <div class="container">

     <div class="footer__inner">
         <div class="footer__col footer__col--one">
             <div class="footer__logo">PO|Anime</div>
             <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  </div>
                  <div class="footer__social">
                      <div class="footer__social__followers"><b>15k</b> followers
                  </div>
                  <div class="footer__social__content">
                      Follow Us:
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a  href="https://vk.com/ne_kidai_meni_nikomy" target="_blank">
                         <i class="fab fa-vk"></i></a>
                      <a href="#"><i class="fab fa-google-plus-g"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                      <a href="#"><i class="fab fa-dribbble"></i></a>
                      <a href="#"><i class="fab fa-tumblr"></i></a>
                  </div>
            </div>


          {% component 'formSubscribe' %}

         
     </div>

<!-- blog -->
     <div class="footer__col footer__col--two">
         <div class="footer__title">Blogs</div>
         <div class="blogs">
             <div class="blogs__item">
                 <img class="blogs__img" src="{{ 'assets/image/blogs-1.jpg'|theme }}" alt="">
                 <div class="blogs__content">
                     <a href="#">Lorem ipsum dolor sit amet, 
                         consectetur adipiscing</a>
                         <div class="blogs__data">Jan 9, 2016</div>
                 </div>

             </div>

             <div class="blogs__item">
                 <img class="blogs__img" src="{{ 'assets/image/blogs-2.jpg'|theme }}" alt="">
                 <div class="blogs__content">
                     <a href="#">Consectetur adipiscing elit, 
                         sed do eiusmod tempor</a>
                         <div class="blogs__data">Jan 9, 2016</div>
                 </div>

             </div>

             <div class="blogs__item">
                 <img class="blogs__img" src="{{ 'assets/image/blogs-3.webp'|theme }}" alt="">
                 <div class="blogs__content">
                     <a href="#">sed do eiusmod tempor 
                         incididunt ut labore</a>
                         <div class="blogs__data">Jan 9, 2016</div>
                 </div>

             </div>
         </div>
     </div>
     <div class="footer__col footer__col--three">
         <div class="footer__title">Instagram</div>
         <div class="inst__content">
             <img  src="{{ 'assets/image/1 — копия.jfif'|theme }}" alt="" class="inst__img">
             <img src="{{ 'assets/image/inst-2.jpg'|theme }}" alt="" class="inst__img">
             <img src="{{ 'assets/image/inst-3.jpg'|theme }}" alt="" class="inst__img">
             <img src="{{ 'assets/image/inst-4.jpg'|theme }}" alt="" class="inst__img">
             <img src="{{ 'assets/image/inst-5.jpg'|theme }}" alt="" class="inst__img">
             <img src="{{ 'assets/image/inst-6.jpg'|theme }}" alt="" class="inst__img">
             <img src="{{ 'assets/image/inst-7.jpeg'|theme }}" alt="" class="inst__img">
             <img src="{{ 'assets/image/inst-8.jpg'|theme }}" alt="" class="inst__img">
             <img src="{{ 'assets/image/inst-9.jpg'|theme }}" alt="" class="inst__img">
         </div>
         <div class="inst__text"><a href="#">View more photos</a></div>
     </div>



    </div>
    <div class="copiright">
     © 2020 Po|Anime free PSD template by 
     <span>Laaqiq</span>
 </div>


</footer>