<footer class="footer">
  <div class="parther">
    <h2 class="parther__title">Наши Партнеры</h2>
    <a href="#">
    <img class="parther__img" src="./assets/images/mastercard.png" alt="img">
    </a>
    <a href="#">
    <img class="parther__img" src="./assets/images/mastercard.png" alt="img">
    </a>
  </div>
  <div class="contact">
    <h2 class="contact__title">Свяжитесь с нами</h2>
    <div class="contact__text">Admin: <a href="tel:+7 (700) 200-80-89">
      +7 (700) 200-80-89</a></div>
  </div>
</footer>
