<header class="header">
  <div class="header__container">
    <nav class="nav">
      <div class="nav__logo">
        <a href="index.html ">
        <img src="./assets/images/logo.png" alt="logo">
        </a>
      </div>
      <ul class="nav__list">
        <li>
          <a href="index.html">Главная</a>
        </li>
        <li>
          <a href="article.html">Статьи</a>
        </li>
        <li>
          <a href="about.html">О нас</a>
        </li>
        <li>
          <a href="archive.html ">Архив</a>
        </li>
        <li>
          <a href="contact.html">Контакты</a>
        </li>
      </ul>
      <div class="nav__item__burger">
        <div class="header__burger">
            <span></span>
        </div>
      </div>
    </nav>
  </div>
</header>
