<section class="inner">
  <!-- slider -->
  <div class="slider--wrap">
  <div class="slider">
    <div class="slider__content">
      <img class="slider__content__img" src="https://images.unsplash.com/photo-1651699148736-3d6c35bd4587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="img">
      <div class="slider__contain">
      <h1 class="slider__title">Новости Казахстана</h1>
      <p class="slider__text">Обычный текст обычный текст обычный текст обычный текст обычный текст обычный текст </p>
    </div>
    </div>

    <div class="slider__content">
      <img class="slider__content__img" src="https://images.unsplash.com/photo-1651440003412-1742be8f8e79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="img">
      <div class="slider__contain">
      <h1 class="slider__title">Новости Казахстана</h1>
      <p class="slider__text">Обычный текст обычный текст обычный текст обычный текст обычный текст обычный текст </p>
    </div>
    </div>

    <div class="slider__content">
      <img class="slider__content__img" src="https://images.unsplash.com/photo-1608700272584-e9b62853fbd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="img">
      <div class="slider__contain">
      <h1 class="slider__title">Новости Казахстана</h1>
      <p class="slider__text">Обычный текст обычный текст обычный текст обычный текст обычный текст обычный текст </p>
    </div>
    </div>
  </div>
  <div class="your-class-arrow"></div>
</div>

</section>


